.itemlistcontainer{
    padding: 10px;
    .itemlist-title{
        background-color: #d796c2;
        margin: 10px;
        padding: 10px;
        border-radius: 40px;
        h3{
            margin: 0px;
            padding: 10px 15px 10px 15px;
            font-family: 'Mouse Memoirs', sans-serif;
            font-size: 2rem;
            font-weight: normal;
        }
    }
    .itemListProducts{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 10px;
    }
    .cargando{
        font-family: 'Mouse Memoirs', sans-serif;
        font-size: 2rem;
        font-weight: normal;
		margin: 20px;
		text-align: center;
    }
}