.navCategories{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    
	padding: 10px;
	background-color: #e5e5e5;
}