@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

.logo-tb{
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 3em;
    padding: 10px;
    text-decoration: none;
    color: black;
}
