@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

header{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
    align-content: center;
    
    background-color: #6fccd9;
}