.widgetCart{
	height: 100vh;
	width: 300px;
	position: fixed;
	right: 0px;
	top: 0px;
	background: white;
	z-index: 2;
	box-shadow: -0.3rem 0 0.3rem rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	.titleWidgetCart{
		margin: 10px 0px 10px 0px;
		font-family: 'Mouse Memoirs', sans-serif;
		font-size: 2em;
		font-weight: normal;
		align-items: stretch;
		color: black;
		padding: 10px 20px 10px 20px;
		background-color: #6fccd9;
		border-radius: 40px;
	}
	.listItemsidgetCart{
		height: 90%;
		width: 90%;
		background-color: #e5e5e5;
		border-radius: 40px;
		.itemWidgetCart{
			margin: 10px;
			padding: 10px;
			border-radius: 30px;
			background: #fdf38b;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			.itemButtonWidgetCart{
				background-color: rgb(219, 102, 102);
				border: none;
				outline: none;
				border-radius: 50px;
				padding: 8px;
				text-align: center;
				cursor: pointer;
				&:hover{
					background-color: rgb(216, 55, 55);
				}
			}
			.itemTitleWidgetCart{
				font-family: 'Mouse Memoirs', sans-serif;
				font-size: 1.5rem;
				font-weight: normal;
				margin: 0px;
				.itemSpanTitleWidgetCart{
					font-size: 1.2rem;
				}
			}
		}
	}
	.btnCheckOutWidgetCart{
		font-family: 'Mouse Memoirs', sans-serif;
		font-size: 1.5rem;
		background-color: #d796c2;
		border: none;
		text-decoration: none;
		outline: none;
		border-radius: 50px;
		padding: 10px;
		margin: 10px;
		color: black;
		text-align: center;
		cursor: pointer;
		&:hover{
			background-color: #aa7599;
		}
	}
}

.close {
	animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes slide-right {
	0% {transform: translateX(0);}
	100% {transform: translateX(300px);}
  }

.open {
	animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-left {
	0% {transform: translateX(300px);}
	100% {transform: translateX(0);}
  }