.cartWidget{
    background-color: #fdf38b;
    div{
        display: flex;
        flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: center;
	    align-items: center;
	    align-content: center;
        h3{
            margin: 0px;
            font-family: 'Mouse Memoirs', sans-serif;
            font-size: 1.5em;
            font-weight: normal;
        }
    }
    
}