.productCount{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    .productQty{
        margin: 0px;
    }
    .productCountButton{
        border-radius: 50px;
        border: none;
        text-decoration: none;
        outline: none;
        background-color: #fdf38b;
        font-family: 'Mouse Memoirs', sans-serif;
        font-weight: normal;
        font-size: 2rem;
        padding: 0px 12px 0px 12px;
        cursor: pointer;
        &:hover{
            background-color: #c2ba6a;
        }
    }
}