.productCard{
	font-family: 'Mouse Memoirs', sans-serif;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	background-color: #6fccd9;
	padding: 10px;
	margin: 10px;
	border-radius: 20px;
	width: 100px;
	.productImg{
		height: 100px;
		width: 100px;
		border-radius: 10px;
		margin-bottom: 10px;
	}
	.productTitle{
		margin: 0px;
		font-weight: normal;
		font-size: 1.2rem;
	}
	.productPrice{
		margin: 0px;
		font-weight: normal;
		font-size: 1.2rem;
	}
	.productAdd{
		font-family: 'Mouse Memoirs', sans-serif;
		font-size: 1.2rem;
		background-color: white;
		border: none;
        text-decoration: none;
		outline: none;
		border-radius: 10px;
		padding: 10px;
		margin-top: 10px;
		text-decoration: none;
		color: black;
		text-align: center;
		cursor: pointer;
		&:hover{
			background-color: rgb(206, 205, 205);
		}
	}
}